<% multimedium = @multimedium unless multimedium  %>

<%= form_for(@multimedium) do |f| %>
  <% if @multimedium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@multimedium.errors.count, "error") %> prohibited this multimedium from being saved:</h2>

      <ul>
      <% @multimedium.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <h2 class="non lower">Descriptions <small class="pull-right"><span class="error">*</span> indicates required fields</small> </h2>
    <div class="well">

      <% (multimedium.terms_for_editing).each do |term| %>
          <%= render :partial => "multimedia/field_form", :locals => { multimedium: multimedium, f: f, render_req: true, key: term } %>
      <% end %>

    </div><!-- /well -->
    <div class="row">
      <div class="form-actions">
        <%= f.button '<i class="icon-save"></i> Save Descriptions'.html_safe, :type => 'submit', :class => 'btn-primary', :onclick => "confirmation_needed = false;", :id => "upload_submit", :name => "update_descriptions" %>
      </div>
    </div>
<% end %>
